html body{
  height: 100%;
  width: 100%;
}
body{
  background-color: cyan;
  margin: 0;
  padding: 0;
}
button{
  background-color: lightskyblue;
  border-radius: 15px;
}
/* h1{
  font-size: 70px;
  font-weight: 600;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
} */